@import '@/shared/styles/variables';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: $font-family;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

body {
    min-height: 100dvh;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}
