@import '@/shared/styles';

.ControlPanel {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
    height: 100%;
    padding: $spacing-3;

    &__content {
        flex-grow: 1;
        overflow: auto;
    }
}
