@import '@/shared/styles';

.Layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: $spacing-2;
    width: 100vw;
    height: 100vh;
    padding: $spacing-2;
    color: var(--color-text-primary);
    background: var(--color-accent);

    &__panel {
        background: var(--color-bg-primary);
        border: 2px solid var(--color-border);
    }
}
