@import '@/shared/styles';

.Graph {
    position: relative;
    width: 100%;
    height: 100%;

    &__display {
        width: 100%;
        height: 100%;
        overflow: hidden;

        &-canvas {
            width: 100%;
            height: 100%;
        }
    }

    &__reconstruct {
        position: absolute;
        top: $spacing-1;
        right: $spacing-1;
    }
}
